@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the spinner for WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner for Mozilla Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* .welcome-text{
    font-family: "Pixelify Sans", sans-serif;
} */

.nav-heading{
    font-family: "Pixelify Sans", sans-serif;
}

.welcome-text{
    font-family: "Lilita One", system-ui;
    -webkit-text-stroke: 1px black;
}

.link-text{
    font-family: sans-serif;
}

.glow{
  text-shadow: 5px 2px 9px rgba(142, 142, 142, 1);
}

.glow1{
  text-shadow: 5px 2px 9px rgb(52 211 153);
}